# Four interacting drops in a square arrangement
Oh = 1.0
Ca = 0.1
Pe = 1.6
AcNum = 1.0
t0 = 0.0
delay_samples = 16
domain = 40.0
drops_x = 2
drops_y = 2
drop_radius = 1.0
drop_spacing = 3.0
max_level = 15
min_level = 5
tmax = 50.0
tsnap = 0.1
output_dir = output/four-drop
resume = 0
