# Two interacting drops
Oh = 1.0
Ca = 0.1
Pe = 1.6
AcNum = 1.0
t0 = 0.0
delay_samples = 16
domain = 20.0
drops_x = 2
drops_y = 1
drop_radius = 1.0
drop_spacing = 3.0
max_level = 13
min_level = 5
tmax = 50.0
tsnap = 0.1
output_dir = output/two-drop
resume = 0
